.price {
  text-align: center;
}

.price.container {
  height: 65vh;
}

.heading {
  font-size: x-large;
  font-weight: 400;
  height: 90px;
}

.text {
  color: #929292;
  font-family: monospace;
  font-size: medium;
  text-align: start;
}
