footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.widget{
    height: 25px;
    margin: 20px;
}

.developer{
    margin-top: 50px;
}

.developer a, .developer p{
    color: #929292;
    font-family: 'Playfair Display', serif;
    font-size: 0.7rem;
}